.Rproj.user
.Rhistory
.RData
.Ruserdata
.ini
desktop.ini
/Data/
*.pdf
agricultureMap.r
agricultureMap_future.r
agricultureMapMod.r
create_null_CRAFTY_regionCSV.r
LandCoverMap_classify.r
LandCoverMap.r
EconomicMap.r
humdevMap.r

